#floatingInput {
  background-color: rgba(0, 0, 0, 0.329);
  color: $color-blue;
  font-weight: 500;
  font-size: 1.3rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 0px 9px $color-blue inset;
}

.search {
  color: whitesmoke;
  font-size: 1.2rem;
}

.btn-buscar {
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 2rem;
  padding: 0.4rem 0.6rem;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  box-shadow: 0px 0px 9px $color-blue inset;

  &:hover {
    background-color: #02b1c8b4;
    box-shadow: none;
  }
}
