.card {
  border: none;
  background-color: #7ffa6700;
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
  background-color: #02b1c86e;
}

.card-body {
  background-color: #02b1c86e;
}
// BACK

.back
  .card
  :not(.card-title-back, .card-location, .card-gender, .card-status, .card-origin) {
  opacity: 0.15;
}

.back .card .card-title-back {
  position: absolute;
  bottom: 85%;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.card-gender {
  position: absolute;
  bottom: 65%;
  font-size: 1rem;
}

.card-origin {
  position: absolute;
  bottom: 45%;
  font-size: 1rem;
  text-align: start;
}

.card-status {
  position: absolute;
  bottom: 25%;
  font-size: 1rem;
}

.card-location {
  position: absolute;
  bottom: 5%;
  font-size: 1rem;
  text-align: start;
}
