@media (max-width: 1400px) {
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 992px) {
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 768px) {
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 330px;
  }
}

@media (max-width: 480px) {
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 300px;
  }
  .back .card .card-title-back {
    bottom: 80%;
  }

  .card-gender {
    bottom: 68%;
  }

  .card-origin {
    bottom: 35%;
  }

  .card-status {
    bottom: 25%;
  }

  .card-location {
    bottom: -5%;
  }
}
