.page-link {
  background-color: rgba(0, 0, 0, 0.329);
  color: whitesmoke;
  border: none;
  box-shadow: 0px 0px 5px $color-blue inset;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;

  &:hover {
    background-color: $color-blue;
    color: whitesmoke;
  }
}
